<!doctype html>
<html>

<head>
    <title>RoboClash</title>
    <meta charset="UTF-8">
    <meta name="description" content="Free Robot Programmer Gaming site">
    <meta name="keywords" content="robot,RoboClash,programming,game">
    <meta name="author" content="Ádám Schweitzer,Patrick Nanys">
    <link rel="stylesheet" type="text/css" href="robostyle.css">
<style>
.about{
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #424141;
      overflow-y: scroll;
      overflow-x: hidden;
      position: absolute;
      color: white;
      margin-top: 200px;
      right: 400px;
      left: 50px;
      top: 50px;
      border: 1px solid white;
      text-align: center;
}


.about_image{
position: absolute;
margin-top: 200px;
right: 50px;
width: 300px;
height: 300px;
left: auto;
}


</style>
</head>

<body>
    
    <header>
        <h1>ROBOCLASH</h1>
    </header>
    
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/News">News</a></li>
            <li><a class="current" href="/About">About</a></li>
        </ul>
    </nav>


<div class="about">
<h3>ROBOCLASH</h3>
<p>
          The idea is to have a web interface where robots can be programmed so that then with the other players Winning the program down. This could help people begin to program and use their abilities to revive, as well as hopefully a lot of fun.
        </p>
        
        <p>
          The game will run in a browser, thus solving the problem multiplatform. In order for someone to be able to play this game you need to create an account, which will allow in the future will be able to log in and you can change the codes, he wrote some of the robots. The game prompts you to choose a code with the man and will not run against other (even offline) codes for players.
        </p>
        
        <p>
          
The codes for the correct rank system will be listed on the basis of their results at the end of the day to live an active code points for his currency was also an alternate robotic equipment that will be spent (in addition you can choose at the beginning of the game you start equipment).
           It serves the best equipment and are not intended to be stronger than other equipment with a variety of strategies to encourage.
        </p>
        
        <p>
          The code in multiple programming languages will also be prepared. Basically, two programming languages will be "Blob" Java. The "Blob" is a Scratch-like graphical language that would be one way of corresponding with Java, so players who want to learn to watch
           that it would look out of their code in Java. Later that other languages may be added to the selected list.
        </p>
        
        <p>
          The system will store more code but it could be only one "race" (only it could fight both the maker and the other players).
        </p>






</div>


<img src="" alt="About Image" class="about_image">

    
    <div class="patreon">
        <a href="https://www.patreon.com/"><img src="patreon.png" class="social_image"></a>
    </div>
    <div class="facebook">
        <a href="https://www.facebook.com/"><img src="facebook.png" class="social_image"></a>
    </div>
    <div class="youtube">
        <a href="https://www.youtube.com/watch?v=d9TpRfDdyU0"><img src="youtube.png" class="social_image"></a>
    </div>

</body>

</html>
