<!doctype html>
<html>
<head>
    <title>RoboClash</title>
    <meta charset="UTF-8">
    <meta name="description" content="Free Robot Programmer Gaming site">
    <meta name="keywords" content="robot,RoboClash,programming,game">
    <meta name="author" content="Ádám Schweitzer,Patrick Nanys">
    <link rel="stylesheet" type="text/css" href="robostyle.css">
    <link rel="shortcut icon" type="image/png" href="/favicon.png" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <style>
        .nav {
            text-transform: uppercase;
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            position: absolute;
            background: #4F9C45;
            width: 200px;
        }
        
        .nav li {
            border-bottom: #424141 solid 2px;
        }
        
        .nav li a {
            display: block;
            color: white;
            text-align: left;
            padding: 16px;
            text-decoration: none;
            line-height: 20px;
        }
        
        .nav li a:hover {
            background-color: #1C5B26;
        }
        
        .naval {
            text-transform: uppercase;
            display: flex;
            position: absolute;
            top: 162px;
        }
        
        .naval a {
            width: 116px;
            display: block;
            color: white;
            text-align: left;
            padding: 16px;
            text-decoration: none;
            line-height: 20px;
        }
        
        .naval:hover .navtri {
            border-left: 27px solid #1C5B26;
            border-top: 27px solid #1C5B26;
        }
        
        .navtri {
            position: relative;
            display: flex;
            width: 0;
            height: 0;
            border-left: 27px solid #1C5B26;
            border-top: 27px solid #1C5B26;
            border-bottom: 27px solid transparent;
            border-right: 27px solid transparent;
        }
        
        .their_code {
            position: absolute;
            top: 160px;
            left: 250px;
            bottom: 50px;
            width: 80%;
            overflow-X: hidden;
            overflow-Y: auto;
            resize: none
        }
        
        .compile {
            text-decoration: none;
            text-align: center;
            border: none;
            color: white;
            background: #424141;
            border-radius: 10px 10px 0px 0px;
            position: absolute;
            top: 300px;
            left: calc(300px + 75%);
            transform: translateX(-100%) translateY(-100%);
        }
        
        .outer_play:before {
            content: '';
            transform-origin: 100% 50%;
            transform: scale(0.5, 1);
            position: relative;
            display: flex;
            width: 0;
            height: 0;
            border-right: 50px solid #4F9C45;
            border-top: 50px solid transparent;
            border-bottom: 50px solid transparent;
        }
        
        .outer_play:after {
            content: '';
            /*position: inline;*/
            position: relative;
            display: flex;
            transform-origin: 0% 50%;
            transform: scale(0.5, 1);
            width: 0;
            height: 0;
            border-left: 50px solid #4F9C45;
            border-top: 50px solid transparent;
            border-bottom: 50px solid transparent;
        }
        
        .outer_play {
            display: flex;
            background: transparent;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
        
        .outer_play:hover::before {
            border-right-color: #1C5B26;
        }
        
        .outer_play:hover::after {
            border-left-color: #1C5B26;
        }
        
        .button {
            font-weight: bold;
            text-decoration: none;
            text-align: center;
            background-color: #4F9C45;
            border: none;
            color: white;
            line-height: 100px;
            font-size: 46px;
            width: 200px;
        }
        
        .outer_play:hover div {
            background-color: #1C5B26;
        }
        .outer_play a {
            display: block;
            color: white;
            text-decoration: none;
        }

        tab1 { padding-left: 4em; }
        tab2 { padding-left: 8em; }
        tab3 { padding-left: 12em; }
        tab4 { padding-left: 16em; }
        tab5 { padding-left: 20em; }
        tab6 { padding-left: 24em; }
        tab7 { padding-left: 28em; }
        tab8 { padding-left: 32em; }
        tab9 { padding-left: 36em; }
        tab10 { padding-left: 40em; }
        tab11 { padding-left: 44em; }
        tab12 { padding-left: 48em; }
        tab13 { padding-left: 52em; }
        tab14 { padding-left: 56em; }
        tab15 { padding-left: 60em; }
        tab16 { padding-left: 64em; }

        h3 {
            background: #171717;
            color: white;
            padding: 10pt;
            padding-left: 25px;
        }

        h5 {
            background: #424242;
            color: white;
            padding: 5pt;
            padding-left: 25px;
            padding-right: 25px;
            padding-top: 10px;
            padding-bottom: 10px;
            width: 300px;
            text-align: center;
        }


    </style>
</head>

<body>

    <ul class="nav">
        <li><a href="/Main">Code</a></li>
        <li><a href="/History">History</a></li>
        <li><a href="/Ladder">Ladder</a></li>
    </ul>
    <div class="naval"><a class="current" href="/Doc">Doc</a>
        <div class="navtri"></div>
    </div>

    <div class="outer_play">
        <div id="playB" class="button">
            <a href="/Play">
                <b>PLAY</b>
            </a>
        </div>
    </div>

    <div class="outer_play" style="top: 0px;left: 82%;transform: scale(0.3, 0.3);">
        <div id="playB" class="button" style="font-size: 36px;">
            <a href="/logout">
                Log Out
            </a>
        </div>
    </div>

    <div class="patreon_side" id="firstSocial">
        <a href="https://www.patreon.com/" target="_blank"><img src="patreon.png"></a>
    </div>
    <div class="facebook_side" id="secondSocial">
        <a href="https://www.facebook.com/" target="_blank"><img src="facebook.png"></a>
    </div>
    <div class="youtube_side" id="thirdSocial">
        <a href="https://www.youtube.com/" target="_blank"><img src="youtube.png"></a>
    </div>

    <h1 style="position: absolute;top: 300px;left: 300px; visibility: hidden;">Coming soon..</h1>
   <div style="background: #2b2b2b; color: darkgrey; /*position: absolute;top: 300px;left: 250px; right: 100px;*/ padding: 20px;" class="their_code"> <!--You control two robots fighting each other in each match. You win when your opponents life hits zero. You both start with 3 health points, and reduce the other's by shooting missiles at each other. This is a turn based game, thus as you program your robot, your commands will be executed simultaniosly as your opponent's. There are multiple actions you can perform a turn: move, turn, shoot or wait.-->
<ul style="list-style: none;">
<li>
    <h3 style="text-align: center; color: red">
    Do not use System.out.println(); command in this Beta version.
    <br>Thanks!
    </h3>
</li>
<li>
    First let's cover the basics of using this site.
    <br>
    <br>
    The first thing you have to do is to write your working code. Down below you can see the commands you can use to defeat your enemies.
    <br>
    <br>
    After you have written your code you should press the 'Compile' button in the top right corner of your coding field. This will compile and save your code in our database. If everything's fine then the button will turn green and you will be able to proceed to the next step. If you made mistakes a red text area will appear from nowhere and will scare the crap out of you. It will list what you messed up. (Don't forget that you can scroll down to see the whole error message.)
    <br>
    <br>
    After all of this work you can click on the play button and enjoy the game.
    <br>
    <br>
    Every command that you see in yellow takes up a round.
</li>
<li>
    <h3 style="color: yellow">command.Wait();</h3>
    Makes you wait a turn.
</li>
<li>
    <h3 style="color: yellow">command.Move();</h3>
    Makes you move 1 square, in the direction you are facing.
</li>
<li>
    <h3 style="color: yellow">command.Rotate(String Direction);</h3>
    Makes you turn 90 degrees in the given direction. 'String Direction' can be "RIGHT" or "LEFT".
</li>
<li>
    <h3 style="color: yellow">command.Shoot();</h3>
    Makes you shoot a bullet in the direction you are facing. It travels with one square per turn speed and destroyes other bullets. If it hits someone it causes 1 damage. (Everyone starts with 3 health.)
</li>
<li>
    <h3>command.What_I_See();</h3>
    This method returns what your robot sees. It returns the first non-air square's distance and type in the direction you are facing.  It returns these information as a 'See' class defined like this: 
    <code>
    <br>public static class see {
    <br><tab1>    public int what;</tab1>
    <br><tab1>    public int howFar;</tab1>
    <br>
    <br><tab1>    public see(int a, int b) {</tab1>
    <br><tab1><tab1>       what = b;</tab1>
    <br><tab1><tab1>        howFar = a;</tab1>
    <br><tab1>    }</tab1>
    <br>}
    </code>
    <br>
    <br>
    So you can get what you see like this:
    <h5>int w = command.What_I_See().what;</h5>
    1 = wall
    <br>
    2 = enemy
    <br>
    4 = missile
    <br>
    <br>
    and
    <h5>int hf = command.What_I_See().howFar;</h5>
</li>
<li>
    <h3>command.getHealth();</h3>
    Returns the health of your robot as an integer. 
</li>
<li>
    <h3>command.getPlayerX();</h3>
    Returns the X coordinate of your robot as an integer.
</li>
<li>
    <h3>command.getPlayerY();</h3>
    Returns the Y coordinate of your robot as an integer.
</li>
<li>
    <h3>command.getStartingMap();</h3>
    Returns the map as a 6 by 6 primitive int array where 0 means that the given square is empty and 1 that there is a wall blocking movement.
</li>
<li>
    <h3>command.getPlayerDirection();</h3>
    Returns the direction you are facing as a number, like this: 
    <br>UP = 0
    <br>RIGHT = 1
    <br>DOWN = 2
    <br>LEFT = 3
</li>
</ul>
</div>

  <div id="elo" style="
    position: absolute;
    left: 75%;
    background: #484747;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: #9c9c9c;" >NaN</div>
    <div id="place" style="
    position: absolute;
    left: 65%;
    background: #484747;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: #9c9c9c;" >LP: NaN</div>

<script type="text/javascript">
    window.onload = function(){
        //editor.setValue("OHOHOHOHOHOHOOOO");
$.ajax({
type: "POST",
url: "/get_elo",
data: "",
success: function(res) {
$("#elo").text(Math.round(res.elo)+" LP");
//editor.setValue("OHOHOHOHOHOHOOOO");
}
})
$.ajax({
type: "GET",
url: "/get_place",
data: "",
success: function(res) {
place=res.place+1;
if(place==1)
$("#place").text(place+"st Place");    
else if(place==2)
$("#place").text(place+"nd Place");
else if(place==3)
$("#place").text(place+"rd Place");    
else 
$("#place").text(place+"th Place");
//editor.setValue("OHOHOHOHOHOHOOOO");
}
})

};
</script>
</body>
</html>
