<!doctype html>
<html>

<head>
    <title>RoboClash</title>
    <meta charset="UTF-8">
    <meta name="description" content="Free Robot Programmer Gaming site">
    <meta name="keywords" content="robot,RoboClash,programming,game">
    <meta name="author" content="Ádám Schweitzer,Patrick Nanys">
    <link rel="stylesheet" type="text/css" href="robostyle.css">
    <link rel="shortcut icon" type="image/png" href="/favicon.png" />
    <style type="text/css">
      div.notes {
        display: flex;
        overflow-y: scroll;
        overflow-x: hidden;
        position: absolute;
        color: white;
        left: 50px;
        margin-top: 50px;
        right: 50px;
        height: 720px;
        border: 1px solid white;

      }
      div.notes li {
        display: block;
        text-decoration: none;
        text-align: center;
        width: 100%;
        height: 120px;
        border-bottom: 1px solid white;
        position: relative;
        color: white;

      }
    </style>
     <script src="https:
//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>

<body>
    
    <header>
        <h1>ROBOCLASH</h1>
    </header>
    
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a class="current" href="/News">News</a></li>
            <li><a href="/About">About</a></li>
        </ul>
    </nav>

    <div style="z-index: 999;" class="patreon">
        <a href="https://www.patreon.com/"><img src="patreon.png" class="social_image"></a>
    </div>
    <div style="z-index: 999;" class="facebook">
        <a href="https://www.facebook.com/"><img src="facebook.png" class="social_image"></a>
    </div>
    <div style="z-index: 999;" class="youtube">
        <a href="https://www.youtube.com/watch?v=d9TpRfDdyU0"><img src="youtube.png" class="social_image"></a>
    </div>












    <div class="notes">
        <ul id="notes">
        </ul>
    </div>

    <div id="news_background" 
        onclick="$(this).css('visibility','hidden')" 
        style="
        background: rgba(165, 165, 165, 0.31);
        top: 0px;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0px;
        z-index: 1001;
        visibility: hidden;
    ">
    <div  style="
        z-index: 1003;
        background: #191919;
        width: 70%;
        height: 55%;
        left: 50%;
        top: 50%;
        position: absolute;
        transform: translate(-50%,-50%);
        color: white;
        font-family: 'Roboto Condensed', sans-serif;
        text-align: center;
        padding: 20px;
        font-size: 20px;
        overflow-y: auto;       
       display: flex;
justify-content: center; /* align horizontal */
align-items: center; /* align vertical */

    "><div id="news" style="vertical-align: middle; display: inline-block; line-height: normal;">
        
    </div></div>
    </div>

    <script>
        //var newsopen=false;

            var news;
      function myFunction(x){
                $("#news").text(news[x].detail);
                $("#news_background").css('visibility','visible');
            }


        $(document).ready(function() { 



/*           var flashHandler = $('#error_message');
            flashHandler.on('flash', function(event, message){
                console.log("wow");    
                var flash = $('<div class="flash">');
                flash.text(message);
                if(message!="")flashHandler.css("visibility","visible");
                $('#error_message').append(flash);
            });*/
                    // myFunction
      
            $.get('/get_news', function(data){
            //console.log("Data: " + data);flashHandler.trigger('flash', [data]);
            news=data;
            var notes=$('#notes');
            for(var x=0;x<news.length;x++){
                var flash = $('<li onclick="myFunction('+x+')">');
                flash.html(news[x].title);
                notes.append(flash);
            }
            });




      /* $.ajax('/get_flashes',{
        'success' : function(res){console.log("success");
            flashHandler.trigger('flash', [res.messages]);
            console.log("success2");
        }})*/
        });
    </script>
    
</body>

</html>
