<!doctype html>

<html>

<head>
    <title>RoboClash</title>
    <meta charset="UTF-8">
    <meta name="description" content="Free Robot Programmer Gaming site">
    <meta name="keywords" content="robot,RoboClash,programming,game">
    <meta name="author" content="Ádám Schweitzer,Patrick Nanys">
    <link rel="stylesheet" type="text/css" href="robostyle.css">
</head>

<body>
    
    <header>
        <h1>ROBOCLASH</h1>
    </header>
    
    <nav>
        <ul>
            <li><a class="current" href="/">Home</a></li>
            <li><a href="/News">News</a></li>
            <li><a href="/About">About</a></li>
        </ul>
    </nav>
    
    <div class="outer_login">
        <span class="login">
            <form class="input" action="/" method="post">
                <div class=wrapper2>        
                    <input type="text" name="email" required=''>
                    <label alt='Email' placeholder='Type your Email'></label>
                    <br>
                    <input type="password" name="password" required=''>
                    <label alt='Password' placeholder='Type your Password'></label>
                    <br><br>
                    <div class=wrapper>
                        <input class="submit button" type="submit" name="submit" value="login" value="Log In">
                        <input class="submit button register" type="submit" name="submit" value="register" value="Register">
                    </div>
                </div>
            </form>
        </span>
    </div>


    <div class="patreon">
        <a href="https://www.patreon.com/" target="_blank"><img src="patreon.png" class="social_image"></a>
    </div>
    <div class="facebook">
        <a href="https://www.facebook.com/" target="_blank"><img src="facebook.png" class="social_image"></a>
    </div>
    <div class="youtube">
        <a href="https://www.youtube.com/watch?v=d9TpRfDdyU0" target="_blank"><img src="youtube.png" class="social_image"></a>
    </div>

    <div class="notes">
        <ul>
            <li><a class="donate" href="/News">Donate!</a></li>
            <li><a class="donate" href="/News">Home page is almost done!</a></li>
            <li><a class="donate" href="/News">Donate!</a></li>
        </ul>
    </div>

</body>

</html>
